/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/OKCupid.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml


# User-specific stuff
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/dictionaries
/.idea/**/shelf
